---
title: benjennings.sketch
---

<div class="draggable item text1">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  Image goes here
</div>

<div class="draggable item img1">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/ben.png" alt="Ben Jennings">
</div>

<div class="workspace">
  <div class="artboard draggable"></div>
</div>

<div id="guide-h" class="guide"></div>
<div id="guide-v" class="guide"></div>
