---
title: benjennings.sketch
---

<div class="draggable item recent">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <p>Recent work <a href="http://mobile.benjennin.gs"><span class="underline">here</span></a>.</p>
</div>

<div class="draggable item measured">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <p>Formerly <a href="http://measured.com.au"><span class="underline">Measured</span></a>.</p>
</div>

<div class="draggable item coinbase">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <p>Product Designer at <a href="http://coinbase.com"><span class="underline">Coinbase</span></a>.</p>
</div>

<div class="draggable item ben">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/ben.png" alt="Ben Jennings">
</div>

<div class="draggable item cover">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/cover.jpg" alt="Artist & Computer">
</div>

<div class="draggable item dollars">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/2plus.png" alt="2plus">
</div>

<div class="draggable item new">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/new.png">
</div>

<div class="draggable item github">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <a href="http://github.com/jenbennings" target="_blank"><img src="assets/img/github.png"></a>
</div>

<div class="draggable item twitter">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <a href="http://twitter.com/benjennin_gs" target="_blank"><img src="assets/img/twitter.png"></a>
</div>

<div class="draggable item dribbble">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <a href="http://dribbble.com/benjennings" target="_blank"><img src="assets/img/dribbble.png"></a>
</div>

<div class="draggable item email">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <a href="mailto:mail@benjennin.gs"><img src="assets/img/email.png"></a>
</div>

<div class="draggable item iphone">
  <span class="boxes is-hidden">
    <span class="box--tl"></span>
    <span class="box--tm"></span>
    <span class="box--tr"></span>
    <span class="box--ml"></span>
    <span class="box--mr"></span>
    <span class="box--bl"></span>
    <span class="box--bm"></span>
    <span class="box--br"></span>
  </span>
  <img src="assets/img/iphone.png">
</div>

<div class="workspace">
  <div class="artboard draggable">
    <div class="mobfriendly">
      <div class="bio">
        <div class="pic"><img src="assets/img/ben.png" alt="Ben Jennings"></div>
        <div class="details">
        <p>Product Designer at <a href="http://coinbase.com"><span class="underline">Coinbase</span></a>.</p>
        <p>Formerly <a href="http://measured.com.au"><span class="underline">Measured</span></a>.</p>
        <p>Recent work <a href="http://mobile.benjennin.gs"><span class="underline">here</span></a>.</p>
        </div>
      </div>
      <div class="footer">
        <a href="mailto:mail@benjennin.gs">
          <span data-icon="email" />
        </a>
        <a href="http://twitter.com/benjennin_gs" target="_blank">
          <span data-icon="twitter" />
        </a>
        <a href="http://dribbble.com/benjennings" target="_blank">
          <span data-icon="dribbble" />
        </a>
        <a href="http://github.com/jenbennings" target="_blank">
          <span data-icon="github" />
        </a>
      </div>
    </div>
  </div>
</div>

<div id="guide-h" class="guide"></div>
<div id="guide-v" class="guide"></div>
