


// Breakpoint Mixin
// ---------------------------------------------------------------------------------------


$mquery: false !default;

$portrait: 48em;
$landscape: 64em;
$desktop: 72em;
$desktop-hd: 96em;

@mixin breakpoint($point) {

  @if $point == portrait {

    $width: $portrait;

    @media (min-width: $width) {
      $mquery: true;
      @content;
      $mquery: false;
    }
  }

  @if $point == landscape {

    $width: $landscape;

    @media (min-width: $width) {
      $mquery: true;
      @content;
      $mquery: false;
    }
  }

  @if $point == desktop {

    $width: $desktop;

    @media (min-width: $width) {
      $mquery: true;
      @content;
      $mquery: false;
    }
  }

  @if $point == desktop-hd {

    $width: $desktop-hd;

    @media (min-width: $width) {
      $mquery: true;
      @content;
      $mquery: false;
    }
  }
}
