


// Font imports go here
// ------------------------------------------------------------------------------------


@font-face {
  font-family: 'Union';
  src: url('../fonts/union-bold.woff');
  font-weight: 700;
}
